node_modules/
.env
.DS_Store
Thumbs.db
*.log
client/dist/
server/src/uploads/audio/*
server/src/uploads/temp/*
server/src/uploads/thumbs/*
server/src/uploads/videos/*
server/src/uploads/backgrounds/*
server/src/uploads/tokens/*
!server/src/uploads/audio/.gitkeep
!server/src/uploads/temp/.gitkeep
!server/src/uploads/thumbs/.gitkeep
!server/src/uploads/videos/.gitkeep
!server/src/uploads/backgrounds/.gitkeep
!server/src/uploads/tokens/.gitkeep
